<section id="about">
    <div class="container">
    <div class="text-center page-section">
        <h2><em>Talent Sourcing</em>, la compétence au cœur du recrutement</h2>
        <p><em>Talent Sourcing propose à toutes les entreprises une plate-forme de recrutement innovante. L’objectif : permettre d’identifier plus facilement et rapidement des profils compétents et motivés, via des MOOCs de recrutement ou des tests de compétences. </em></p>
        <div class="p-4">
            <img src="assets/img/hiring.jpg" class="img-thumbnail" width="600" height="500">
        </div>
        <p class="pt-4"><strong>Comment trouver le candidat idéal, en particulier dans les métiers en tension ? Qu’il
                s’agisse de recruter un commercial, un comptable ou un acheteur, tout DRH s’est déjà trouvé confronté à
                ce problème. <a href="#">Talent Sourcing</a>, une joint-venture entre The MOOC Agency et Talentpeople,
                est une toute nouvelle plateforme digitale qui propose une solution innovante : plutôt que de
                transmettre aux entreprises des CV en nombre, elle qualifie, en amont, les candidats via des tests de
                compétences. Le but : ne proposer aux entreprises que des profils ayant démontré leur motivation et
                leurs compétences.</strong></p>
        <p>Talent Sourcing propose deux approches. </p>
        <h3>Des tests de compétences à la portée de toutes les entreprises</h3>
        <p>Talent Sourcing propose également des tests de compétences sur 25 métiers : comptable, commercial, développeur web,
            assistant de direction… élaborés par des experts du métier avec au moins 7 ans d’expérience. Ils permettent
            aux entreprises de tester leurs candidats en les invitant à passer le test de compétences (à partir de 29€
            HT) ou en accédant directement à une base de données de candidats ayant déjà passé le test (à partir de 250€
            HT).</p>
        <h3>Des MOOCs de recrutement pour les grands groupes </h3>
        <p>Pour les grands groupes, des MOOCs de recrutement, dédiés à des métiers précis, comme le métier
            d’aiguilleur(e) du rail, pour la SNCF, ou encore celui de consultant(e), pour le réseau d'agences d'intérim
            Ergalis. Chaque MOOC propose une formation interactive à ces métiers, intégrant plusieurs quiz et « serious
            games ». Le candidat obtient ainsi un score et l’entreprise peut alors présélectionner les candidats sur la
            base de leurs compétences et de leur motivation. « Suivre l’un de ces MOOCs en intégralité représente
            environ 3 heures de travail, on peut donc être certain qu’il s’agit de candidats réellement intéressés ».
        </p>
        <p><em>« Nous avons testé cette solution via le MOOC sur mesure pour recruter des consultants, complète
                Jean-Jacques Durizy, fondateur de Talentpeople et Directeur Commercial du groupe Ergalis. Résultat, nous
                avons rempli nos objectifs de recrutement, et surtout nous avons identifié des profils originaux : la
                personne qui a obtenu les meilleurs résultats à notre MOOC était assistante maternelle. C’est la preuve
                de l’innovation qu’apporte ce système ». </em></p>
        <p>Recruter de cette manière permet aussi de gagner du temps sur l’intégration des candidats dans leurs postes,
            puisqu’ils auront été « préformés ». Enfin, il constitue un excellent moyen pour l’entreprise d’affirmer sa
            modernité et celle de sa « marque employeur ». Un élément décisif, dans un contexte où la tension sur
            certains métiers se fait de plus en plus forte. Et où la motivation des candidats, plus que jamais, est
            essentielle à la réussite du recrutement.</p>
        <p>Aujourd’hui, plus de 2000 candidats sont recrutés sur Skilero par de grands groupes ou des PME qui souhaitent
            rendre plus efficace leur processus de recrutement.</p>
    </div>



    <div class="page-section">
      <div class="text-center">
        <h1>Pour être au coeur du recrutement</h1>
        <h2>LANCEZ-VOUS EN TOUTE SIMPLICITE,La societé est crée en 2020 pour se consacrer à la valorisation
                                des Ressources Humaines à Madagascar en les accompagnant
                                au travres d'entreprise innovants, et en contribuant à leur
                                développement en tant qu'individu</h2>
        <p>Le produit phare est dédié au recrutement. Talent Sourcing
                                gère de A à Z un projet de selection en recrutement sur
                                mesure quel que soit son volume eet quel que soit le poste à
                                pourvoir. Il évite les tâches répétitives rend le processus de
                                recrutement simple et intuitif, ce qui permet au recruteur d'être
                                au coeur de son métier et d'être plus qualitatif</p>
      </div>
    </div>

            <div class="page-section">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Nos Atouts</h4>
                        <div class="line-dec"></div>
                        <p>Le produit phare est dédié au recrutement. Talent Sourcing gère de A à Z un projet de selection en recrutement sur mesure quel que soit son volume eet quel que soit le poste à pourvoir. Il évite les tâches répétitives rend le processus de recrutement simple et intuitif, ce qui permet au recruteur d'être au coeur de son métier et d'être plus qualitatif</p>
                    </div>
                </div>
            </div>

  </div>
</section>