<div class="header">
  <div class="container">
    <nav class="navbar navbar-inverse fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a routerLink="/" class="navbar-brand scroll-top"><em>Talent</em>
          sourcing</a>

      </div>

      <!--/.navbar-header-->
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/" routerLinkActive="active" class="scroll-top">Accueil</a></li>
          <li><a routerLink="/about" routerLinkActive="active" class="scroll-link" data-id="about">A propos de nous</a>
          </li>
          <!-- <li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li> -->
          <!-- <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li> -->
          <!--  <li><a href="#" class="scroll-link" data-id="contact-us">Contact Us</a></li> -->
        </ul>
      </div>
      <!--/.navbar-collapse-->
    </nav>
    <!--/.navbar-->
  </div>
  <!--/.container-->
</div>
<!--/.header-->