<div class="parallax-content baner-content" id="home">
  <div class="container">
    <div class="text-content">
      <div class="text-center">
        <h1>TROUVEZ L'EMPLOI DE VOS REVES,</h1>
        <h2>LANCEZ-VOUS EN TOUTE SIMPLICITE,</h2>
        <h3>PREPAREZ-VOUS A RENCONTRER VOTRE FUTUR EMPLOYEUR</h3>
      </div>
    </div>

    <div id="offres" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="0">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_01.png" alt="">
                        </div>
                        <h4>QUEBEC</h4>
                        <div class="line-dec"></div>
                        <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum facilisis dui. Mauris malesuada porta.</p>
                        <div class="primary-blue-button">
                            <a routerLink="formoffre/new" class="scroll-link" data-id="portfolio">OFFRES D'EMPLOIS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="250">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_02.png" alt="">
                        </div>
                        <h4>ANTANANARIVO</h4>
                        <div class="line-dec"></div>
                        <p>Do NOT re-distribute our template on any template download website. However, you can feel free to use this template for your commercial or non-commercial sites.</p>
                        <div class="primary-blue-button">
                            <a routerLink="formoffre/new" class="scroll-link" data-id="portfolio">OFFRES D'EMPLOIS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="500">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_03.png" alt="">
                        </div>
                        <h4>CANDIDATURES SPONTANEES</h4>
                        <div class="line-dec"></div>
                        <p>Feel free to talk to us on our Facebook page if you have any kind of question or suggestion. Sed tempor mi quis rhoncus convallis.</p>
                        <div class="primary-blue-button">
                            <a routerLink="formspontanees/new" class="scroll-link" data-id="portfolio">OFFRES D'EMPLOIS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section">
      <h3 class="comment">RECRUTER AVEC L'APPLICATION WEB TALENT, comment ça marche</h3>
      <div><button class="btn btn-danger" (click)="getCSV()">Obtenir un démo</button></div>
      <div>
      <img src="assets/img/hiring.jpg" alt="Obtenir un démo" width="800" height="600" />
      </div>
    </div>

    <div class="page-section">
      <div class="text-content">
        <div class="row ">
          <div class="col-md-4 col-xs-12">
            <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
              <h5 class="card-title-list">1- Diffusion des offres d'emplois</h5>
              <div class="card-body-list">
                <p>Nous vous assistons dans la création et la multidiffusion de vos offres d'emploi</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
              <h5 class="card-title-list">2- Promotion de la marque Employeur</h5>
              <div class="card-body-list">
                <p>Nous vous mettons à disposition des espaces pour mettre en valeur votre entreprise et suivant la
                  #RGPD</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
              <h5 class="card-title-list">3- Analyse des candidats</h5>
              <div class="card-body-list">
                <p>L'outil Talent vous permet de collaborer en interne à plusieurs</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
              <h5 class="card-title-list">4- Séléction par des tests</h5>
              <div class="card-body-list">
                <p>Les candidats ayant postuler à votre offre d'emploi
                  ont pu de suite effectuer un test de pré-selection que vous avez, vous-même élaboré, grâce à l'outil
                  Talent</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
              <h5 class="card-title-list">5- Entretiens optimisés</h5>
              <div class="card-body-list">
                <p>Une application automatique des candidats vous permet d'organiser vos entretients</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
              <h5 class="card-title-list">BONUS: Stratégie recrutement</h5>
              <div class="card-body-list">
                <p>Des rapports automatiques sont générés à chaque clôture d'un recrutement</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="partenaires page-section">
        <div class="text-content">
          <h6 class="comment">NOS PARTENAIRES</h6>
        </div>

        <div class="text-content">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <a href="" class="card-text">ATALIA CONSEILS</a><br>
              <p class="card-text"><i class="fa fa-search"></i></p>
            </div>

            <div class="col-md-4 col-xs-12">
              <a href="" class="card-text">ATALIA CONSEILS</a>
              <p class="card-text"><i class="fa fa-search"></i></p>
            </div>
            <div class="col-md-4 col-xs-12">
              <a href="" class="card-text">ATALIA CONSEILS</a><br>
              <p class="card-text"><i class="fa fa-search"></i></p>
            </div>
          </div>
        </div>
      </div>
</div>
</div>