
.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.baner-content {
	width: 100%;
	padding-top: 35vh;
	text-align: center;
	background-image: linear-gradient(45deg, #dadada, #ededed);
	/*background-image: url(../img/banner_bg.jpg);*/
	vertical-align: middle;
}

.baner-content .text-content {
	text-align: center;
}

.baner-content .text-content h2 {
	/*font-size: 36px;*/
	font-weight: 400;
	/*color: #fff;*/
}

.baner-content .text-content p {
	/*color: #fff;*/
	font-size: 14px;
	line-height: 24px;
	padding: 0px 25%;
}

.service-item .icon {
    width: 110px;
    height: 110px;
    display: inline-block;
    text-align: center;
    line-height: 104px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #f7c552;
}
