<app-header></app-header>
<div class="page">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!-- <app-home></app-home> -->
<!-- <app-portfolio></app-portfolio> -->
<!-- <app-feedback></app-feedback> -->
<!-- <app-blog></app-blog> -->
<!-- <app-contact></app-contact> -->