
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Talent-primary: mat-palette($mat-indigo);
$Talent-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Talent-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Talent-theme: mat-light-theme((
  color: (
    primary: $Talent-primary,
    accent: $Talent-accent,
    warn: $Talent-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Talent-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* FLOATING LABEL */

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

label {
  font-size: 14px;
  color: #b9b9b9;
  margin-bottom: 16px;
}

input {
  border: 0;
  border-bottom: 1px solid black;
  font-family: "SFCOmpact Regular";
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  font-size: 18px;
}

.date {
  border-bottom: none;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

input:placeholder-shown + label {
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.2);
}

/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

/**
* Show the placeholder when the input is focused.
*/

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

/* END OF FLOATING LABEL */
/* CHECKBOX */

.control-group {
  width: 50%;
}

.control.control-checkbox:active {
  label {
      color: #131313;
  }
}

.control {
  font-family: "SFCOmpact Regular";
  font-weight: 300;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  padding-top: 1px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 19px;
  width: 19px;
  border: 1px solid #d98c19;
  border-radius: 50%;
  background-color: #ffffff;
}

.control-radio .control_indicator {
  border-radius: none;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #ffffff;
}

.control input:checked ~ .control_indicator {
  background: #d98c19;
}

.control input:checked:focus ~ .control_indicator {
  background: #d98c19;
}

.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid #f5eded;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* FIN CHECKBOX */
